<% layout("layouts/boilerplate") %>

    <form method="POST" action="/listing/<%= listing._id %>?_method=PUT" novalidate
        class="needs-validation mt-3 offset-3" enctype="multipart/form-data">
        <h3>Edit Your Listing Here...</h3>
        <div class="mb-3">
            <label for="title" class="for-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>" required>
            <div class="valid-feedback">Correct Title</div>
            <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="for-label">Description</label>
            <textarea name="listing[description]" class="form-control" value="<%= listing.description %>"
                required></textarea>
            <div class="valid-feedback">Correct description</div>
            <div class="invalid-feedback">Please enter a discription</div>
        </div>

        <div class="mb-3">
            Original Listing image <br>
            <img src="<%=originalUrl%>" height="300px" width="300px">
        </div>
        <div class="mb-3">
            <label for="image" class="for-label"> Upload Image </label>
            <input type="file" name="image" class="form-control">
        </div>

        <div class="mb-3">
            <label for="price" class="for-label">Price</label>
            <input type="number" name="listing[price]" class="form-control" value="<%= listing.price %>" required>
            <div class="valid-feedback">correct price</div>
            <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-select" required>
                <option disabled>Select category</option>
                <option value="Rooms" <%=listing.category==="Rooms" ? "selected" : "" %>>Rooms</option>
                <option value="Castle" <%=listing.category==="Castle" ? "selected" : "" %>>Castle</option>
                <option value="Mountains" <%=listing.category==="Mountains" ? "selected" : "" %>>Mountains</option>
                <option value="Iconic City" <%=listing.category==="Iconic City" ? "selected" : "" %>>Iconic City</option>
                <option value="Farms" <%=listing.category==="Farms" ? "selected" : "" %>>Farms</option>
                <option value="Camping" <%=listing.category==="Camping" ? "selected" : "" %>>Camping</option>
                <option value="Arctic" <%=listing.category==="Arctic" ? "selected" : "" %>>Arctic</option>
                <option value="Amazing Pools" <%=listing.category==="Amazing Pools" ? "selected" : "" %>>Amazing Pools
                </option>
                <option value="Trending" <%=listing.category==="Trending" ? "selected" : "" %>>Trending</option>
            </select>
            <div class="valid-feedback">Category selected</div>
            <div class="invalid-feedback">Please select a category</div>
        </div>


        <div class="mb-3">
            <label for="location" class="for-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" value="<%= listing.location %>" required>
            <div class="valid-feedback">Correct location</div>
            <div class="invalid-feedback">Please enter location</div>
        </div>


        <div class="mb-3">
            <label for="country" class="for-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>" required>
            <div class="valid-feedback">Correct Country</div>
            <div class="invalid-feedback">Please enter country</div>
        </div>


        <button class="btn btn-dark edit-btn">Edit</button><br><br>
    </form>